@font-face{
    font-family: 'inter-regular';
    src: url('../fonts/Inter-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'inter-bold';
    src: url('../fonts/Inter-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: 'inter-extraBold';
    src: url('../fonts/Inter-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}

:root{
    --blackColor:#000000;
    --yellowColor:#FED941;
    --grayColor:#808080;
    --grayLowColor:#E8E8E6;
    --whiteColor:#FFFFFF;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: var(--blackColor);
}

.wrapper{
    padding: 0 2.0rem;

}

.header__content{
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.4rem;
    font-family: 'inter-bold';
    color: var(--whiteColor);
  
}
.logos--desktop{
    display: none;
}

.icon-menu{
    height: 24px;
    width: 24px;   
}
.nav,
.login-button{
display: none;
}

.menu-mobile-hidden{
    display: none;
}
.menu-mobile-show{
    position: fixed;
    z-index: 50;
    display: block;
    list-style: none;
    background: #000000f8;
    height: 300px;
    width: 100vw;
    left: 0;
    top: 76px;
    padding:2.0rem ;
}



.menu-mobile__link{
    display: block;
    padding: 1.6rem 0;
    font-size: 1.8rem;
    font-family: 'inter-bold';
    color: var(--whiteColor);
}

.menu-mobile__item .login-button{
    display: inline-block;
    color: var(--blackColor);
    background-color: var(--whiteColor);
    font-family: 'inter-bold';
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: .5rem 1.6rem;
    border-radius: 8px;
}


/*hero section*/
.hero{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 800px;
}


.hero__title{
    margin: 0;
    font-size: 2.8rem;
    line-height: 3.9rem;
    letter-spacing: 1%;
    text-align: left;
    font-family:'inter-bold';
    color: var(--whiteColor);
    padding-top: 3.5rem;
}
.hero__about{
    margin: 2.4rem 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: 'inter-regular';
    color: var(--grayColor);
}
.hero__button{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-family: 'inter-bold';
    color: var(--whiteColor);
    border:2px solid var(--whiteColor);
    border-radius: 8px;
    padding: 1.2rem 6.1rem;
   
}

.hero__link{
    display: block;
    font-family: 'inter-regular';
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: var(--grayColor);
    text-decoration: underline;
    margin-top: 2.4rem;
    margin-bottom: 5.7rem;
    padding-bottom: 309px;
}

.hero__image{
    text-align: center;
   
}
.image-iphone{
  position: fixed;
  left: 60px;
  width: 250px;
  top: 550px;
  z-index: 10;
}
/*logos*/
.logos{
    width: 100%;
    background-color: var(--whiteColor);
}
.logos__content{
    width: 100px;
    margin: auto;
    text-align: center;
    padding: 6.4rem 0;
}
.logos__img{
    display: block;
    margin-bottom: 2.4rem;
}

.hero-person{
    background-color: var(--grayLowColor);
    padding-bottom: 60.0rem;
}
/*hero-person*/


.hero-person__image--desktop{
    width: 100%;
    display: none;
}

.hero-person__image--mobile{
    width: 100%;
    
}

.hero-person__title{   
    margin: 0;
    font-size: 2.5rem;
    line-height: 3.0rem;
    padding: 6.4rem 0 1.6rem 0;
    font-family: 'inter-bold';
    max-width:310px;
}
.hero_person__info{
    font-family: 'inter-regular';
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--grayColor);
}

/*purchases*/
.hero-purchases{
    background-image: url('../images/background-plant.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 700px;


}
.hero-package{
    background-color: var(--blackColor);
    height: 700px;
}



.hero-purchases__title{   
    margin: 0;
    font-size: 2.5rem;
    line-height: 3.0rem;
    padding: 6.4rem 0 1.6rem 0;
    font-family: 'inter-bold';
    max-width:310px;
}
.hero_purchases__info{
    font-family: 'inter-regular';
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--grayColor);
}

/*hero-package*/
.hero-package{
position: relative;

}

.hero-package__title{
    margin: 0;
    font-family: 'inter-bold';
    font-size: 2.5rem;
    line-height: 3.0rem;
    letter-spacing: 1%;
    color: var(--whiteColor);
    padding-top: 6.4rem;
}

.hero-package__text{
    font-family: 'inter-regular';
    color: var(--whiteColor);
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 4.0rem;
}

.wrapper-bar{
    padding-left: 2.0rem;
}

.bar{
    width: 100%;
    height: 40px;
    background-color: var(--grayLowColor);
    border-radius: 100px 0 0 100px;
}
.bar-progress{
    background-color:  #2FB464;
    height: 40px;
    width: 60%;
    border-radius: 100px;
}

/*login*/
.login{
    position: relative;
    z-index: 20;
    background-color: var(--whiteColor);
}

.login__title{
    margin: 0;
    padding-top:6.4rem ;
    font-size: 2.5rem;
    line-height: 3.0rem;
    letter-spacing: 1%;
    font-family: 'inter-bold';
}
.login__text{
    font-family: 'inter-regular';
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.login__avatar{
text-align: center;
}
.login__avatar__img{
    margin-top: 5.6rem; 
    margin-bottom: 6.4rem;
    display: inline-block;
    width: 320px;
    height: 320px;
}

/*clients*/
.clients{
    background-color: var(--grayLowColor);
    padding-bottom: 200px;
    position: relative;
    z-index: 20;
}
.clients__title{
    font-family: 'inter-bold';
    font-size: 2.5rem;
    line-height: 3.0rem;
    letter-spacing: 1%;
    text-align: center;
    max-width: 270px;
    margin: auto;
    padding-top: 8.0rem;
    color: #333333;
}

.card{
    padding: 32px;
    border-radius: 8px;
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 10px rgba(151, 148, 148, 0.651);
    text-align: center;
    position: relative;
    margin-top: 13.0rem;
}

.card__avatar{
    position: relative; 
    top:-80px;
    display: flex;
    justify-content: center;
}

.card__avatar__image{
    display: block;
}

.card__text{
    margin: 0;
    font-family: 'inter-regular';
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    margin-bottom: 2.0rem;
}

.card__footer{
    text-align: center;
}

.card__footer__username{
    font-family: 'inter-bold';
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--blackColor);
    margin: 0;
}

.card__footer__tagname{
    margin: 0;
   font-family: 'inter-regular';
   font-size: 1.8rem;
   line-height: 2.7rem; 
   color: var(--grayColor);
}


/*footer*/

.footer{
    position: relative;
    z-index: 20;
    background-color: var(--blackColor);
    padding-bottom: 6.4rem;
}

.cta{
    position: relative;
    top: -80px;
    border-radius: 8px;
    padding: 2.4rem;
    background-color: var(--whiteColor);
    text-align: center;
}
.cta__title{
    margin: 0;
    font-size: 2.4rem;
    font-family: 'inter-bold';
    line-height: 3.0rem;
}
.cta__text{
    font-family: 'inter-regular';
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 2.4rem;
    color: var(--grayColor);
}


.cta__button{
    background-color: var(--blackColor);
    color: var(--whiteColor);
    font-family: 'inter-bold';
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 1.2rem 7.4rem;
    border-radius: 8px;
}


.socials__logo{
    color: var(--whiteColor);
    font-family: 'inter-bold';
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin: 0;
  
}
.socials__info{
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: var(--grayColor);
    font-family: 'inter-regular';
    margin: 0;

}
.icons{
    margin-top: 2.8rem;
   
}
.icons__link{
    margin-right: 16px;
}


.products,.company{
    margin-top: 6.4rem;
  
}

.products__menu{
    list-style: none;
}

.products__link:first-child{
    font-weight: bold;
    color: var(--whiteColor);
}

.products__link{
    font-family: 'inter-regular';
    color: var(--grayColor);
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.company__menu{
    list-style: none;
}

.company__link:first-child{
    font-weight: bold;
    color: var(--whiteColor);
}

.company__link{
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-family: 'inter-regular';
    color: var(--grayColor);
}



/*responsive*/
@media screen and (min-width:600px){
.hero__content{
    padding-left: 100px;
    padding-top: 100px;
    display: flex;
    padding-bottom: 100px;
    padding-right: 100px;
   
}

.image-iphone {
    width: 500px;
    position: fixed;
    left: 10.0rem;
    top: 600px;
    z-index: 10;
}
.logos{
    width: 100%;
    background-color: var(--whiteColor);
}
.logos__content {
    margin: 0 auto;
    padding: 0;
    padding: 4.4rem 1.6rem;
    background-color: var(--whiteColor);
}

.logos__img{
    display: inline-block;
    vertical-align: middle;
}

}

@media screen and (min-width:1200px){

.menu-mobile-hidden{
        display: none;
    }
    
.icon-menu{
    display: none;
}  
.nav,
.login-button{
    display: block;
  }

.menu{
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    min-width: 444px;
}

.menu__link{
    display: block;
    color: var(--whiteColor);
    font-size: 1.8rem;
    text-align: center;
    font-family: 'inter-bold';
    padding: 2.4rem 2.4rem;
    line-height: 2.8rem;
  
}
.menu__item:nth-child(1){
    border-bottom: 4px solid var(--whiteColor);
}
.menu__item:nth-child(n+2) > .menu__link{
  color: var(--grayColor);
}
.login{
    position: relative;
    z-index: 0;
}
.login-button{
    color: var(--blackColor);
    background-color: var(--whiteColor);
    font-family: 'inter-bold';
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: .5rem 1.6rem;
    border-radius: 8px;
}


/* hero */
.section-wrapper{
    max-width: 1366px;
    margin: 0  auto;
}
.hero__content{
  
    padding-left: 470px;
    padding-top: 207px;
    display: flex;
   
    padding-right: 211px;
    
}
.hero__description{
    min-width: 685px;
    
}
.hero__title{
    font-size: 4.6rem;
    line-height: 5.6rem;
    letter-spacing: 1%;
}
.hero__about{
    font-size: 1.8rem;
    line-height: 2.7rem;
    max-width: 600px;
}
.hero__link{
    font-size: 1.8rem;
}


.image-iphone{
    position: fixed;
    width: 100%;
    max-width: 400px;
    left: 5.0rem;
    top: 180px;
    z-index: 10;
  }

  .hero__link{
      padding-bottom: 0;
  }
  .logos{
    background-color: var(--whiteColor);
}
 
.logos__content {
    margin: 0;
    padding: 0;
    width: 600px;
    padding: 4.4rem 0;
    padding-left: 400px;
}
  .logos__img{
      display: inline-block;
      vertical-align: middle;
  }
  .hero-person__image--mobile{
      display: none;
  }
  
  .hero-person__image--desktop{
    display: block;
    border-radius:8px ;
    max-width: 100%;
    
}
  .hero-person{
   background-color: var(--whiteColor);
   padding-bottom: 12.4rem;
  }
  .hero-person__content{

    padding-left: 470px;
  }
  .hero-person__title{
    font-size:4.8rem ;
    line-height: 5.8rem;
    letter-spacing: -0.5%;
    max-width: 700px;    
}
.hero_person__info{
    max-width: 580px; 
    font-size: 1.8rem;
}

/* hero-purchases */

.hero-purchases__content{
    padding-left: 470px;
    max-width: 470px;
    padding-top: 128px;
}
.hero-purchases__title{
   font-size: 4.8rem; 
   line-height: 5.8rem;
   letter-spacing: -0.5%;
   max-width:500px;
}
.hero_purchases__info{
    font-size: 1.8rem;
    line-height: 2.7rem;
    
}
.hero-package__content {
    max-width: 470px;
    padding-left: 470px;
    padding-top: 207px
}
.hero-package__title{
    font-size: 48.0px;
    line-height: 58.0px;
    letter-spacing: -0.5%;
}
.hero-package__text {
    max-width: 400px;
    font-size: 1.8rem;
}
.wrapper-bar {
    padding-left: 490px;
}

/* login */
.login__content{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 200px;

}
.login__info{
    max-width: 470px;
    padding-left: 470px;
}
.login__title {
    margin: 0;
    margin-bottom: 2.4rem;
    font-size: 4.8rem;
    line-height: 5.8rem;
    letter-spacing: -0.5%;
   
}
.login__text{
    font-size: 1.8rem;
    line-height: 2.7rem;
    max-width: 380px;
    color: var(--grayColor);
}

/* clients */
.clients{
   position: relative;
   z-index: 20;
}

.clients__title{
    font-size: 4.8rem;
    line-height: 5.8rem;
    max-width: 100%;
}
.clients__content{
    z-index:20;
    width: 100%;
    overflow: scroll;
    overflow-y:hidden;
    white-space: nowrap;
    padding: 80px 0;
    padding-bottom: 40px;
 
}
 

.card{
    display:inline-block;
    white-space: normal;
    vertical-align: middle;
    width: 362px;
    height: 375px;
    margin: 2.4rem;
}

/* foooter */

.cta{
    margin: auto;
    max-width: 812px;
    min-height: 205px;
    padding: 6.4rem 3.2rem;
}

.cta__title{
    font-size: 4.8rem;
    line-height: 5.8rem;
    letter-spacing: -0.5%;
}
.cta__text{
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-bottom: 5.6rem;
}

.footer{
    position: relative;
    z-index: 20;
}
.footer__content{
    
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.socials{
    padding-left:6.4rem ;
    margin-right: 128px;
}
.products{
    margin-right: 128px;
}

.products, .company {
    margin-top: 0;
}
}
@media screen and (min-width:1400px){
    .wrapper-bar{
        padding-left: 850px;
    }
}
